.CFUserTextEncoding
.DS_Store
.Trash/
.android/
.bash_profile
.bash_profile.swp
.bundle/
.cache/
.cups/
.gem/
.gitconfig
.gradle/
.irb_history
.m2/
.npm/
.oh-my-zsh/
.profile.save
.rbenv/
.rubies/
.ruby-version
.swiftpm/
.viminfo
.zcompdump-Artem*
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.pre-oh-my-zsh
.zshrc.save
.zshrc.swp
20230130_140421.mp4
AndroidStudioProjects/
Applications/
Desktop/.DS_Store
Desktop/.localized
Desktop/*.jpeg
Desktop/*.pdf
Desktop/*.png
Desktop/*.mov
Desktop/ADB/
Desktop/Appium/
Desktop/COCHRAN INVESTMENT COMPANY, INC.*
Desktop/Cloud_Computing.txt
Desktop/Covid test.pdf
Desktop/FreeCode camp.png
Desktop/IMG_8782.jpg
Desktop/IMG_8783.jpg
Desktop/IMG_8784.jpg
Desktop/Linkedin Crap/
Desktop/Linkedin_Ruby_Script.rb
Desktop/Linkedin_Script.rb
Desktop/Linkedin_Script_Two.rb
Desktop/Live Feature.pages/
Desktop/Methos Info.pdf
Desktop/NAW - 1 - letter_script.rb
Desktop/NAW 1- Linkedin Script.rb
Desktop/NAW_1_Linkedin_Script_by_letters.rb 
Desktop/Resumes/
Desktop/Ruby Info/
Desktop/Ruby Scripts/
Desktop/SR-22.pdf
Desktop/STATE OF CALIFORNIA.pdf
Desktop/Screen Recording 2022-06-13 at 8.24.52 AM.mov
Desktop/Screen Recording 2022-06-13 at 8.39.09 AM.mov
Desktop/Screen Recording 2022-11-09 at 10.01.24.mov
Desktop/Screen Shot 2022-02-04 at 1.57.56 PM.png
Desktop/Screen Shot 2022-02-04 at 2.39.21 PM.png
Desktop/Screen Shot 2022-02-07 at 9.48.57 AM.png
Desktop/Screen Shot 2022-02-16 at 2.25.48 PM.png
Desktop/Screen Shot 2022-03-23 at 10.12.16 AM.png
Desktop/Screen Shot 2022-03-23 at 10.16.37 AM.png
Desktop/Screen Shot 2022